uploads/*
node_modules/
dist

# Initial build path
laravel/resources/js/figma

# Icons sync path
!laravel/public/ui/.gitkeep
laravel/public/ui
figma/implementation/build-storybook.log
figma/implementation/debug-storybook.log
