@import "tailwindcss";

:root,
:host {
    /*Typography*/
    --font-sans: DM Sans;
    --font-inter: Inter;
}

.font-inter {
    font-family: var(--font-inter);
}
html, body, #root { height: 100%; }
body { @apply antialiased; }
