@import 'tailwindcss';

@source "../../../figma/implementation/src/pages";
@source "../../../figma/implementation/src/components";
:root,
:host {
    /*Typography*/
    --font-dm-sans: DM Sans;
    --font-inter: Inter;
}
.font-inter {
    font-family: var(--font-inter);
}
body {
    font-family: var(--font-dm-sans);
}
html,
body,
#root {
    height: 100%;
}
body {
    @apply antialiased;
}
